/* General Classes */
* {
	box-sizing: border-box;
	color: #000;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: #1e1e1e;
}

h1 {
	font-family: 'Moon';
	font-size: 70px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Moon';
	font-size: 30px;
}

p {
	font-family: 'Segoe UI';
	font-size: 18px;
	line-height: 22px;
}

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block; 
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Disable blue outline from jQuery Mobile */
*:focus {
	outline: none;
}

/* Navbar */
.navbar {
	width: 100%;
	position: fixed;
	padding: 10px 80px 0px 80px;
	background-color: none;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: all 0.5s ease;
}

.navbar--change-color {
	background-color: rgba(255, 255, 255, 0.8);
}

.navbar__logo {
	width: 30%;
	float: left;
}

.navbar__logo img {
	width: 50px;
}

.navbar__logo h3 {
	font-family: 'Moon';
	font-size: 22px;
	display: inline-block;
	position: relative;
	transform: translateY(-18px);
	color: #1e1e1e;
}

.navbar__logo img:hover, .navbar__logo h3:hover {
	cursor: pointer;
}

.navbar__menu {
	width: 70%;
	float: left;
}

.navbar__menu__standard ul {
	padding: 0;
	list-style: none;
	position: relative;
	transform: translateY(-5px);
}

.navbar__menu__standard li {
	float: right;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-size: 16px;
	margin-left: 10px;
	padding: 5px 15px;
	transition: all 0.5s ease;
	border-radius: 10px;
}

.navbar__menu__standard li:hover {
	background-color: #1e1e1e;
	cursor: pointer;
	color: #fff;
}

/* jumbotron Section */
.jumbotron {
	background: url('../media/img_jumbotron.png');
	background-position: 0px -50px;
	background-size: cover;
	padding: 150px 200px 200px 200px;
}

.jumbotron__img {
	width: 120px;
}

.jumbotron__heading {
	font-size: 70px;
	font-family: 'Moon';
	text-transform: uppercase;
}

.jumbotron__sub-heading {
	font-size: 32px;
	font-family: 'Moon';
	text-transform: uppercase;
}

.jumbotron__button {
	display: inline-block;
	border: 3px solid #1e1e1e;
	font-family: 'Moon';
	padding: 10px 30px;
	margin-top: 20px;
	transition: all 0.5s ease;
}

.jumbotron__button:active {
	cursor: pointer;
}

/* About Section */
.about {
	padding: 100px 0 0 0;
	background: url('../media/img_bagan.png');
	background-size: cover;
}

.about__text {
	width: 80%;
	float: left;
	text-align: center;
}

.about__text__bio {
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px 30px;
	text-align: left;
	margin-bottom: 100px;
}

.about__text__bio p {
	margin-bottom: 15px;
}

.about__text__bio p:last-child {
	margin: 0;
}

.about__img {
	width: 20%;
	float: left;
}

.about__img img {
	width: 275px;
	position: relative;
	transform: translateY(114px);
}

/* Resume Section */
.resume {
	padding: 100px 0;
	text-align: center;
	background-color: #efefef;
}

.resume h2 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.resume__item {
	width: 100%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	text-align: left;
	margin-bottom: 10px;
}

.resume__item__logo {
	width: 100%;
	text-align: center;
}

.resume__item__logo img {
	margin-bottom: 10px;
}

.resume__item__logo__princeton {
	width: 250px;
}

.resume__item__logo__ism {
	width: 250px;
}

.resume__item__logo__princeton-engineering {
	width: 300px;
}

.resume__item__logo__ixperience {
	width: 500px;
}

.resume__item__logo__ewb {
	width: 400px;
}

.resume__item__logo__business-today {
	width: 300px;
}

.resume__item__logo__e-club {
	width: 250px;
}

.resume__item__logo__ca {
	width: 130px;
}

.resume__item__logo__launch {
	width: 250px;
}

.resume__item__position {
	width: 70%;
	float: left;
	text-align: left;
}

.resume__item__duration {
	width: 30%;
	float: left;
	text-align: right;
}

.resume__item__position--increased {
	width: 80%;
	float: left;
	text-align: left;
}

.resume__item__duration--reduced {
	width: 20%;
	float: left;
	text-align: right;
}

.resume__item h4 {
	font-family: 'Moon';
	font-size: 18px;
	margin-bottom: 5px;
}

.resume__item h5 {
	font-family: 'Moon';
	font-size: 16px;
	margin-bottom: 5px;
	color: #9b9898;
}

.resume__item p {
	font-size: 16px;
	line-height: 19px;
}

/* Projects Section */
.projects {
	padding: 100px 0;
	width: 100%;
	text-align: center;
}

.projects h3 {
	font-size: 20px;
	font-family: 'Moon';
	margin-bottom: 30px;
}

.projects__app {
	width: 100%;
}

.projects__app__img {
	width: 40%;
	float: left;
}

.projects__app__description {
	width: 60%;
	float: left;
}

.projects__app__img img {
	width: 100%;
}

.projects__app__description__text {
	width: 100%;
	background-color: #a3a3a3;
	padding: 15px;
	text-align: left;
	margin-top: 100px;
	position: relative;
}

.projects__app__description__text h2 {
	color: #fff;
}

.projects__app__description__text h4 {
	color: #1e1e1e;
	font-family: 'Moon';
	margin-bottom: 10px;
}

.projects__app__description__text p {
	color: #fff;
	font-size: 16px;
	line-height: 19px;
}

.projects__app__description__text:after {
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0;
	border-width: 30px 30px 0 0;
	border-style: solid;
	border-color: #a3a3a3 transparent;
}

/* Construction Section */
.construction {
	text-align: center;
	padding: 275px 0px;
	background-color: #1e1e1e;
}

.construction h1, .construction p {
	color: #fff;
}