/* General Classes */
* {
	box-sizing: border-box;
	color: #000;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: #1e1e1e;
}

h1 {
	font-family: 'Moon';
	font-size: 70px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Moon';
	font-size: 30px;
}

p {
	font-family: 'Segoe UI';
	font-size: 18px;
	line-height: 22px;
}

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block; 
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Disable blue outline from jQuery Mobile */
*:focus {
	outline: none;
}

/* Navbar */
.navbar {
	width: 100%;
	position: fixed;
	padding: 10px 80px 0px 80px;
	background-color: none;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: all 0.5s ease;
}

.navbar--change-color {
	background-color: rgba(255, 255, 255, 0.8);
}

.navbar__logo {
	width: 30%;
	float: left;
}

.navbar__logo img {
	width: 50px;
}

.navbar__logo h3 {
	font-family: 'Moon';
	font-size: 22px;
	display: inline-block;
	position: relative;
	transform: translateY(-18px);
	color: #1e1e1e;
}

.navbar__logo img:hover, .navbar__logo h3:hover {
	cursor: pointer;
}

.navbar__menu {
	width: 70%;
	float: left;
}

.navbar__menu__standard ul {
	padding: 0;
	list-style: none;
	position: relative;
	transform: translateY(-5px);
}

.navbar__menu__standard li {
	float: right;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-size: 16px;
	margin-left: 10px;
	padding: 5px 15px;
	transition: all 0.5s ease;
	border-radius: 10px;
}

.navbar__menu__standard li:hover {
	background-color: #1e1e1e;
	cursor: pointer;
	color: #fff;
}

/* jumbotron Section */
.jumbotron {
	background: url('../media/img_jumbotron.png');
	background-position: 0px -50px;
	background-size: cover;
	padding: 150px 200px 200px 200px;
}

.jumbotron__img {
	width: 120px;
}

.jumbotron__heading {
	font-size: 70px;
	font-family: 'Moon';
	text-transform: uppercase;
}

.jumbotron__sub-heading {
	font-size: 32px;
	font-family: 'Moon';
	text-transform: uppercase;
}

.jumbotron__button {
	display: inline-block;
	border: 3px solid #1e1e1e;
	font-family: 'Moon';
	padding: 10px 30px;
	margin-top: 20px;
	transition: all 0.5s ease;
}

.jumbotron__button:active {
	cursor: pointer;
}

/* About Section */
.about {
	padding: 100px 0 0 0;
	background: url('../media/img_bagan.png');
	background-size: cover;
}

.about__text {
	width: 80%;
	float: left;
	text-align: center;
}

.about__text__bio {
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px 30px;
	text-align: left;
	margin-bottom: 100px;
}

.about__text__bio p {
	margin-bottom: 15px;
}

.about__text__bio p:last-child {
	margin: 0;
}

.about__img {
	width: 20%;
	float: left;
}

.about__img img {
	width: 275px;
	position: relative;
	transform: translateY(114px);
}

/* Resume Section */
.resume {
	padding: 100px 0;
	text-align: center;
	background-color: #efefef;
}

.resume h2 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.resume__item {
	width: 100%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	text-align: left;
	margin-bottom: 10px;
}

.resume__item__logo {
	width: 100%;
	text-align: center;
	position: relative;
}

.resume__item__logo__whiteout {
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all 1s ease;
}

.resume__item__logo__whiteout--fade-away {
	background-color: transparent;
}

.resume__item__logo img {
	margin-bottom: 10px;
}

.resume__item__logo__princeton {
	width: 250px;
}

.resume__item__logo__ism {
	width: 250px;
}

.resume__item__logo__princeton-engineering {
	width: 300px;
}

.resume__item__logo__ixperience {
	width: 500px;
}

.resume__item__logo__ewb {
	width: 400px;
}

.resume__item__logo__business-today {
	width: 300px;
}

.resume__item__logo__e-club {
	width: 250px;
}

.resume__item__logo__ca {
	width: 130px;
}

.resume__item__logo__launch {
	width: 250px;
}

.resume__item__position {
	width: 70%;
	float: left;
	text-align: left;
}

.resume__item__duration {
	width: 30%;
	float: left;
	text-align: right;
}

.resume__item__position--increased {
	width: 80%;
	float: left;
	text-align: left;
}

.resume__item__duration--reduced {
	width: 20%;
	float: left;
	text-align: right;
}

.resume__item h4 {
	font-family: 'Moon';
	font-size: 18px;
	margin-bottom: 5px;
}

.resume__item h5 {
	font-family: 'Moon';
	font-size: 16px;
	margin-bottom: 5px;
	color: #9b9898;
}

.resume__item p {
	font-size: 16px;
	line-height: 19px;
}

/* Skills Section */
.skills {
	background-color: #fff;
	text-align: center;
	padding: 100px 0 60px 0;
}

.skills h1 {
	margin-bottom: 30px;
}

.skills h2 {
	margin-bottom: 20px;
}

.skills h3 {
	font-family: 'Moon';
	transform: translateY(50%);
}

.skills__graph {
	width: 100%;
	margin-bottom: 40px;
}

.skills__graph__rows {
	width: 20%;
	float: left;
	text-align: right;
}

.skills__graph__rows--img-container {
	width: 20%;
	float: left;
	border-right: 2px solid #dbdbdb;
	border-bottom: 2px solid #dbdbdb;
}

.skills__graph__rows--img-container img {
	width: 50px;
}

.skills__graph__rows__row {
	height: 50px;
	padding-right: 10px;
	border-right: 2px solid #dbdbdb;
	border-bottom: 2px solid #dbdbdb;
}

.skills__graph .container-full {
	position: relative;
}

.skills__graph__columns {
	width: 80%;
	float: left;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.skills__graph__columns__column {
	width: 20%;
	float: left;
	height: 100%;
	border-right: 2px solid #dbdbdb;
	border-bottom: 2px solid #dbdbdb;
}

.skills__graph__columns__row {
	height: 50px;
	border-right: 2px solid #efefef;
	border-bottom: 2px solid #efefef;
}

.skills__graph__columns__row__level {
	width: 0%;
	height: 25px;
	position: relative;
	background-color: #798c9f;
	border-radius: 0 10px 10px 0;
	transform: translateY(50%);
	transition: all 2s ease;
}

.skills__graph__columns__row__level--100 {
	width: 100%;
}

.skills__graph__columns__row__level--80 {
	width: 80%;
}

.skills__graph__columns__row__level--60 {
	width: 60%;
}

.skills__graph__columns__row__level--40 {
	width: 40%;
}

.skills__graph__columns__row__level--20 {
	width: 20%;
}

/* Projects Section */
.projects {
	padding: 100px 0;
	width: 100%;
	text-align: center;
	background-color: #efefef;
}

.projects h3 {
	font-size: 20px;
	font-family: 'Moon';
	margin-bottom: 30px;
}

.projects__app {
	width: 100%;
}

.projects__app__img {
	width: 40%;
	float: left;
}

.projects__app__description {
	width: 60%;
	float: left;
}

.projects__app__img img {
	width: 100%;
}

.projects__app__description__text {
	width: 100%;
	background-color: #a3a3a3;
	padding: 15px;
	text-align: left;
	margin-top: 100px;
	position: relative;
}

.projects__app__description__text:after {
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0;
	border-width: 30px 30px 0 0;
	border-style: solid;
	border-color: #a3a3a3 transparent;
}

.projects__app__description__text h2 {
	color: #fff;
}

.projects__app__description__text h4 {
	color: #1e1e1e;
	font-family: 'Moon';
	margin-bottom: 10px;
}

.projects__app__description__text p {
	color: #fff;
	font-size: 16px;
	line-height: 19px;
}

/* Life Section */
.life {
	text-align: center;
	padding: 100px 0;
	background: url('../media/img_princeton.png') no-repeat;
	background-size: cover;
	background-color: #efefef;
}

.life h1 {
	margin-bottom: 30px;
}

.life h2 {
	margin-bottom: 10px;
}

.life__card {
	width: 100%;
	position: relative;
	min-height: 200px;
	margin-bottom: 20px;
}

.life__card__fact {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 50px 70px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.life__card__fact h4 {
	font-family: 'Segoe UI';
	font-size: 20px;
	margin-bottom: 10px;
}

.life__dot {
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	transition: all 0.5 ease;
	margin-bottom: 50px;
}

.life__dot:hover {
	transform: scale(1.3, 1.3);
	cursor: pointer;
}

.life__dot:active {
	background-color: #798c9f;
	border: 2px solid #fff;
}

.life__dot--active {
	background-color: #798c9f;
	border: 2px solid #fff;
}

.life__photo {
	width: 225px;
	height: 225px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
}

.life__photo img {
	width: 100%;
	margin-bottom: 10px;
}

/* Construction Section */
.construction {
	text-align: center;
	padding: 275px 0px;
	background-color: #1e1e1e;
}

.construction h1, .construction p {
	color: #fff;
}