<!DOCTYPE html>
<html>
<head>
	<title>Adelle Dimitui | Personal Website</title>

	<link rel="stylesheet" type="text/css" href="css/type.css"/>
	<link rel="stylesheet" type="text/css" href="css/containers.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body ng-app="adelleApp">
	<div ng-controller="NavbarCtrl" id="navbar" class="navbar clearfix">
		<div class="navbar__logo">
			<img ng-click="scrollTo('jumbotron')" src="media/img_logo.png"/>
			<h3 ng-click="scrollTo('jumbotron')">Adelle Dimitui</h3>
		</div>
		<div class="navbar__menu">
			<div class="navbar__menu__standard">
				<ul class="clearfix">
					<li ng-click="scrollTo('construction')">Contact</li>
					<li ng-click="scrollTo('construction')">Life</li>
					<li ng-click="scrollTo('projects')">Projects</li>
					<li ng-click="scrollTo('construction')">Skills</li>
					<li ng-click="scrollTo('resume')">R&eacute;sum&eacute;</li>
					<li ng-click="scrollTo('about')">About</li>
				</ul>
			</div>
		</div>
	</div>

	<div ng-view></div>

	<script src="jquery-1.11.3.js"></script>
	<script src="angular.js"></script>
	<script src="angular-route.js"></script>
	<script src="script.js"></script>
</body>
</html>