<section id="jumbotron" class="jumbotron">
	<div class="container-jumbotron">
		<img class="jumbotron__img" src="./media/img_logo.png"/>
		<h1 class="jumbotron__heading">Adelle Dimitui</h1>
		<h2 class="jumbotron__sub-heading">Engineer. Developer. Creative.</h2>
		<h3 class="jumbotron__button">Learn More</h3>
	</div>
</section>

<section id="about" class="about">
	<div class="container-about clearfix">
		<div class="about__text">
			<h1>About</h1>
			<div class="about__text__bio">
				<p>Hi there! I'm Adelle. Welcome to my corner of the interwebs. I'm a girl from the Philippines, and I have lived in Southeast Asia my entire life, having spent the first thirteen years of my life living in Myanmar before moving to the Philippines for four years during high school.</p>
				<p>I now set up camp in the USA, where I attend Princeton University as a proud member of the Class of 2019, studying for my BSE in Mechanical &amp; Aerospace Engineering. Go Tigers!</p>
				<p>One of my biggest personal values is community service. I want to dedicate my life to creating and distributing technology that has a positive social impact, serving a community in need in some type of way. What shape or form that will take, time will tell! But I am extremely excited to see where life will lead me.</p>
				<p>My biggest hobbies are drawing, creative writing, programming, and Pok&eacute;mon. And eating's up there too. Love eating.</p>
			</div>
		</div>
		<div class="about__img">
			<img src="./media/img_adelle.png"/>
		</div>
	</div>
</section>

<section id="construction" class="construction">
	<h1>404: Not Found</h1>
	<p>This part of the site is still under construction.</p>
	<p>Sorry for the inconvience! Working to complete this ASAP, so check back soon!</p> 
</section>