<section id="jumbotron" class="jumbotron">
	<div class="container-jumbotron">
		<img class="jumbotron__img" src="./media/img_logo.png"/>
		<h1 class="jumbotron__heading">Adelle Dimitui</h1>
		<h2 class="jumbotron__sub-heading">Engineer. Developer. Creative.</h2>
		<h3 class="jumbotron__button">Site out-of-date. Update in progress</h3>
	</div>
</section>

<section id="about" class="about">
	<div class="container-about clearfix">
		<div class="about__text">
			<h1>About</h1>
			<div class="about__text__bio">
				<p>Hi there! I'm Adelle. Welcome to my corner of the interwebs.</p>
				<p>I'm a girl from the Philippines, and I have lived in Southeast Asia my entire life, having spent the first thirteen years of my life living in Myanmar before moving to the Philippines for four years during high school.</p>
				<p>I now set up camp in the USA, where I attend Princeton University as a proud member of the Class of 2019, studying for my BSE in Mechanical &amp; Aerospace Engineering. Go Tigers!</p>
				<p>One of my biggest personal values is community service. I want to dedicate my life to creating and distributing technology that has a positive social impact, serving a community in need in some type of way. What shape or form that will take, time will tell! But I am extremely excited to see where life will lead me.</p>
				<p>My biggest hobbies are drawing, creative writing, programming, and Pok&eacute;mon. And eating's up there too. Love eating.</p>
			</div>
		</div>
		<div class="about__img">
			<img src="./media/img_adelle.png"/>
		</div>
	</div>
</section>

<section id="resume" class="resume">
	<div class="container-resume">
		<h1>Resume</h1>

		<h2>Education</h2>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-princeton" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__princeton" src="./media/img_logo-princeton.png"/>
				</div>
			<div class="resume__item__position">
				<strong><em><h4>BSE in Mechanical &amp; Aerospace Engineering</h4></em></strong>
			</div>
			<div class="resume__item__duration">
				<strong><h4>2015 - 2019</h4></strong>
			</div>
			<h5>Princeton, New Jersey, USA</h5>
			<p>Currently a third-year undergraduate student. Coursework includes: Introduction to Engineering Dynamics; Fluid Mechanics; Integrated Engineering Science Laboratory; Thermodynamics; Modern Solid Mechanics; Introduction to Programming Systems; General Computer Science; Linear Algebra; Single- and Multi-Variable Calculus; and more</p>
		</div>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-ism" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__ism" src="./media/img_logo-ism.png"/>
				</div>
			<div class="resume__item__position">
				<strong><em><h4>High School Diploma</h4></em></strong>
			</div>
			<div class="resume__item__duration">
				<strong><h4>2011 - 2015</h4></strong>
			</div>
			<h5>Manila, Philippines</h5>
			<p>Awards: Council of International Schools (CIS) International Student Award; Journalism Award; Three-time recipient of English Department Award; Fine &amp; Performing Arts Award; Robotics gold medalist; Eight-time recipient of High Honors for outstanding academic achievements</p>
		</div>

		<h2>Employment &amp; Activities</h2>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-microsoft" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__microsoft" src="./media/img_logo-microsoft.png"/>
				</div>
			<div class="resume__item__position--increased">
				<strong><em><h4>Microsoft Program Manager Intern</h4></em></strong>
			</div>
			<div class="resume__item__duration--increased--reduced">
				<strong><h4>Summer 2018</h4></strong>
			</div>
			<h5>Redmond, Washington, USA</h5>
			<p>Was part of the Azure Identity organization, on the Role-Based Access Control (RBAC) team. Conducted customer research and designed various UI's for the Azure portal, including one for managing custom roles and one for visualizing a user's effective permissions. Coordinated with various PM, development, UX design, and research team members.</p>
		</div>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-princeton-engineering" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__princeton-engineering" src="./media/img_logo-princeton-engineering.png"/>
				</div>
			<div class="resume__item__position--increased">
				<strong><em><h4>MAE Summer Practical Research Experience Intern</h4></em></strong>
			</div>
			<div class="resume__item__duration--reduced">
				<strong><h4>Summer 2017</h4></strong>
			</div>
			<h5>Princeton, New Jersey, USA</h5>
			<p>Undergraduate research intern under the Mechanical &amp; Aerospace Engineering (MAE) department. Acted as a research assistant in the university combustion lab, shadowing graduate students. Assisted with experiments examining the temperature profiles of cool flames, with applications in combustion engines. Coded MATLAB programs for statistical analysis.</p>
		</div>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-ixperience" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__ixperience" src="./media/img_logo-ixperience.png"/>
				</div>
			<div class="resume__item__position">
				<strong><em><h4>Web Development Student &amp; Intern</h4></em></strong>
			</div>
			<div class="resume__item__duration">
				<strong><h4>Summer 2016</h4></strong>
			</div>
			<h5>Cape Town, South Africa</h5>
			<p>Underwent a four-week coding boot camp in front-end web development with iXperience (iX). Learned HTML/CSS, Javascript, and Firebase. Chosen to present final project at the concluding iX keynote. After, interned at SAOTA VR for four weeks and built their website, which can be seen here (note that site is currently maintained by SAOTA team): <a href="http://www.saota.com/saotavr/index.html#/" target="_blank">saota.com/vr</a></p>
		</div>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-ewb" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__ewb" src="./media/img_logo-ewb.png"/>
				</div>
			<div class="resume__item__position resume__item__position--reduced">
				<strong><em><h4>Vice-President of Development</h4></em></strong>
			</div>
			<div class="resume__item__duration resume__item__duration--increased">
				<strong><h4>Fall 2015 - Spring 2017</h4></strong>
			</div>
			<h5>Princeton, New Jersey, USA</h5>
			<p>Spearheaded fundraising efforts and compiles grant opportunities. Previously, as Director of Outreach, handled external outreach and membership recruitment. Previously, as Technical Team Member of the Peru International Project, analyzed feasibility of building a water pipeline in a mountainous Peruvian community and learned basic CAD design.</p>
		</div>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-business-today" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__business-today" src="./media/img_logo-business-today.png"/>
				</div>
			<div class="resume__item__position">
				<strong><em><h4>Conferences Assistant Director</h4></em></strong>
			</div>
			<div class="resume__item__duration">
				<strong><h4>Fall 2015 - Fall 2016</h4></strong>
			</div>
			<h5>Princeton, New Jersey, USA</h5>
			<p>Led the logistics front for the organization of the 2016 Women in Business Conference, which aims to empower women in the workplace; as well as the 2016 International Conference, which aims to connect high-performing undergraduate students with business leaders, many of whom lead Fortune 500 companies. Both all-expenses paid conferences.</p>
		</div>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-e-club" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__e-club" src="./media/img_logo-e-club.png"/>
				</div>
			<div class="resume__item__position">
				<strong><em><h4>Startup Classes Director</h4></em></strong>
			</div>
			<div class="resume__item__duration">
				<strong><h4>Fall 2015 - Fall 2016</h4></strong>
			</div>
			<h5>Princeton, New Jersey, USA</h5>
			<p>Selected as Startup Classes Director as a freshman. Both coordinated the logistics of workshops led by other people, as well as self-led workshops to introduce the student body to software and skills that would be useful in the entrepreneurial world. Was the instructor for workshops in front-end web development, Adobe Photoshop, and Adobe XD.</p>
		</div>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-ca" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__ca" src="./media/img_logo-ca.png"/>
				</div>
			<div class="resume__item__position">
				<strong><em><h4>Community Action Orientation Leader</h4></em></strong>
			</div>
			<div class="resume__item__duration">
				<strong><h4>Fall 2016</h4></strong>
			</div>
			<h5>Ewing, New Jersey, USA</h5>
			<p>Led a group of 11 freshmen on a week-long community-service-themed orientation program. The program was centered around the development of youths in the New Jersey area. Volunteered at local education-oriented community service orientations, including the Kidsbridge Tolerance Center and HomeFront.</p>
		</div>
		<div class="resume__item clearfix">
			<div class="resume__item__logo">
				<div id="resume-launch" class="resume__item__logo__whiteout"></div>
					<img class="resume__item__logo__launch" src="./media/img_logo-launch.png"/>
				</div>
			<div class="resume__item__position">
				<strong><em><h4>Participant</h4></em></strong>
			</div>
			<div class="resume__item__duration">
				<strong><h4>Summer 2014</h4></strong>
			</div>
			<h5>Cambridge, Massachusetts, USA</h5>
			<p>Participated in four-week residential, entrepreneurship program held at the Massachusetts Institute of Technology (MIT). Program was highly selective. Worked in a team of three to undergo the initial stages of launching a start-up, from idea generation and market research, to performing pivots and financial projections, to pitching.</p>
		</div>
	</div>
</section>

<section id="skills" class="skills">
	<div class="container-skills">
		<h1>Skills</h1>

		<h2>Software</h2>
		<div class="skills__graph">
			<div class="container-full clearfix">
				<div class="skills__graph__rows--img-container" class="skills__graph__rows">
					<img src="./media/img_logo.png"/>
				</div>
				<div class="skills__graph__columns clearfix">
					<div class="skills__graph__columns__column">
						<h3>Beginner</h3>
					</div>
					<div class="skills__graph__columns__column">
						<h3>Familiar</h3>
					</div>
					<div class="skills__graph__columns__column">
						<h3>Proficient</h3>
					</div>
					<div class="skills__graph__columns__column">
						<h3>Expert</h3>
					</div>
					<div class="skills__graph__columns__column">
						<h3>Master</h3>
					</div>
				</div>
			</div>
			<div class="container-full clearfix">
				<div class="skills__graph__rows">
					<div class="skills__graph__rows__row">
						<h3>Microsoft Office</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>Adobe Photoshop</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>Adobe XD</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>Creo</h3>
					</div>
				</div>
				<div id="skills-software-graph" class="skills__graph__columns">
					<div class="skills__graph__columns__row">
						<div id="80-microsoft" class="skills__graph__columns__row__level skills-software"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="80-photoshop" class="skills__graph__columns__row__level skills-software"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="100-xd" class="skills__graph__columns__row__level skills-software"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="60-creo" class="skills__graph__columns__row__level skills-software"></div>
					</div>
				</div>
			</div>
		</div>

		<h2>Languages</h2>
		<div class="skills__graph">
			<div class="container-full clearfix">
				<div class="skills__graph__rows--img-container" class="skills__graph__rows">
					<img src="./media/img_logo.png"/>
				</div>
				<div class="skills__graph__columns clearfix">
					<div class="skills__graph__columns__column">
						<h3>Beginner</h3>
					</div>
					<div class="skills__graph__columns__column">
						<h3>Familiar</h3>
					</div>
					<div class="skills__graph__columns__column">
						<h3>Proficient</h3>
					</div>
					<div class="skills__graph__columns__column">
						<h3>Expert</h3>
					</div>
					<div class="skills__graph__columns__column">
						<h3>Master</h3>
					</div>
				</div>
			</div>
			<div class="container-full clearfix">
				<div class="skills__graph__rows">
					<div class="skills__graph__rows__row">
						<h3>Java</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>HTML/CSS</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>JavaScript</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>TypeScript</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>MATLAB</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>Python</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>SQL</h3>
					</div>
					<div class="skills__graph__rows__row">
						<h3>C</h3>
					</div>
				</div>
				<div id="skills-languages-graph" class="skills__graph__columns">
					<div class="skills__graph__columns__row">
						<div id="60-java" class="skills__graph__columns__row__level skills-languages"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="80-html" class="skills__graph__columns__row__level skills-languages"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="60-javascript" class="skills__graph__columns__row__level skills-languages"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="40-typescript" class="skills__graph__columns__row__level skills-languages"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="60-matlab" class="skills__graph__columns__row__level skills-languages"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="40-python" class="skills__graph__columns__row__level skills-languages"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="40-sql" class="skills__graph__columns__row__level skills-languages"></div>
					</div>
					<div class="skills__graph__columns__row">
						<div id="20-c" class="skills__graph__columns__row__level skills-languages"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="projects" class="projects">
	<div class="container-projects">
		<h1>Projects</h1>
		<h3>In the process of being updated...</h3>
		<!-- <div class="projects__app clearfix">
			<div class="projects__app__img">
				<img id="clustr" class="projects__app__img__phone projects__app__img__phone--hide" src="./media/img_clustr.png"/>
			</div>
			<div class="projects__app__description">
				<div class="projects__app__description__text">
					<h2>Clustr</h2>
					<h4>A geolocation-based app for people with no prior plans and time to spare</h4>
					<p>Clustr is my first attempt at coding my own personal app on the side. I have finished finished designing high-fidelity wire frames for the app and have begun the development phase of the app with a team of a couple friends. We aim to finish the app in late 2017, at which point we will release a video demo of the fully-functional app in action.</p>
				</div>
			</div>
		</div> -->
	</div>
</section>

<section id="life" class="life">
	<div class="container-life">
		<h1>Life</h1>
		<h2>Fun Facts</h2>
		<div class="life__card">
			<div id="fun-fact-1" class="life__card__fact">
				<h4>What is your favorite place to have traveled to?</h4>
				<p>Malta was definitely one of my favorite places. Docking into the port of Valletta while on a Mediterranean cruise is one of the most picturesque sights I've ever seen.</p>
			</div>
			<div id="fun-fact-2" class="life__card__fact">
				<h4>What is your secret talent?</h4>
				<p>Ummm, I can do a pretty adequate Britney Spears impression? I think impersonating people is pretty fun. However, I do so to varying degress of success.</p>
			</div>
			<div id="fun-fact-3" class="life__card__fact">
				<h4>What is your favorite comic book to read?</h4>
				<p>X-Men, by far. I think they are incredibly self-sacrificing, as the people who discriminate against them as mutants are the very people they are trying to protect. It also helps that my favorite superhero is Rogue.</p>
			</div>
			<div id="fun-fact-4" class="life__card__fact">
				<h4>What is a personal resolution of yours?</h4>
				<p>To get fitter and eat healthier! I've started going to the gym and am starting to really enjoy strength training and cardio! This is a recent development in my life that's been significantly boosting my morale.</p>
			</div>
		</div>
		<div class="container-full">
			<div id="dot-1" class="life__dot" ng-click="showFact(1)"></div>
			<div id="dot-2" class="life__dot" ng-click="showFact(2)"></div>
			<div id="dot-3" class="life__dot" ng-click="showFact(3)"></div>
			<div id="dot-4" class="life__dot" ng-click="showFact(4)"></div>
		</div>

		<div class="container-full">
			<h2 id="life-photos">Photos</h2>
			<div class="life__photo">
				<img id="life-skydiving" class="life__photo__img life__photo__img--hide" src='./media/img_skydiving.png'/>
			</div>
			<div class="life__photo">
				<img id="life-mae" class="life__photo__img life__photo__img--hide" src='./media/img_mae.png'/>
			</div>
			<div class="life__photo">
				<img id="life-surfing" class="life__photo__img life__photo__img--hide" src='./media/img_surfing.png'/>
			</div>
			<div class="life__photo">
				<img id="life-hiking" class="life__photo__img life__photo__img--hide" src='./media/img_hiking.png'/>
			</div>
			<div class="life__photo">
				<img id="life-lawnparties" class="life__photo__img life__photo__img--hide" src='./media/img_lawnparties.png'/>
			</div>
		</div>
	</div>
</section>

<section id="contact" class="contact">
	<div class="container-contact">
		<h1>Contact</h1>
		<h2>I'd love to meet you! Feel free to send me a message and say hi!</h2>
		<a href="mailto:adimitui@princeton.edu" target="_blank">
			<div class="container-full">
				<div class="contact__icon">
					<img src="./media/img_email_blue.png"/>
					<img class="contact__icon--default" src="./media/img_email.png"/>
				</div>
				<h3>adimitui@princeton.edu</h3>
			</div>
		</a>
		<a href="https://www.linkedin.com/in/adelle-dimitui/" target="_blank">
			<div class="container-full container-full--linkedin">
				<div class="contact__icon contact__icon--linkedin">
					<img src="./media/img_logo-linkedin_blue.png"/>
					<img class="contact__icon--default" src="./media/img_logo-linkedin.png"/>
				</div>
				<h3 class="contact__link--linkedin">Adelle Ingrid Dimitui</h3>
			</div>
		</a>
		<a href="https://github.com/adimitui" target="_blank">
			<div class="container-full">
				<div class="contact__icon">
					<img src="./media/img_logo-github_blue.png"/>
					<img class="contact__icon--default" src="./media/img_logo-github.png"/>
				</div>
				<h3>github.com/adimitui</h3>
			</div>
		</a>
	</div>
</section>

<section class="footer">
	<h6>&copy; Adelle Dimitui 2018; Last updated on August 21</h6>
</section>